<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Liste Société</title>
</head>
<body>

		<div class="col-lg-12 listeSociete" th:fragment="listeSociete">
	    <h2> Liste des Sociétés </h2>
		<table width="100%" border="0" cellspacing="1" cellpadding="2" id="tableUtilisateur">
                    <tr class="entete-tableau"><th style="padding-left:10px"> Code Société </th><th> Nom de la Société </th>  <th> Date creation </th> <th> </th></tr>
					<tr th:each ="societe : ${societes}">  									
  						<td  width="100" th:utext="${societe.codeSociete}" style="padding-left:10px" ></td>
  						<td  width="100" th:utext="${societe.nomSociete}" ></td>
  						<td  width="100" th:utext="${societe.dateCreation}" ></td>
  						<td width="100" >
  						   <input  class="btn btn-danger supprimer"  data-th-name="${societe.codeSociete}" onclick="supprimer(this);" type="button" value="Supprimer" >                
  						   <button class="btn btn-primary"  data-th-name="${societe.codeSociete}" onclick="modifier(this);"> Modifier</button>
  						</td>
					</tr>					            
		 </table>
		 	 
				 <div th:if="${dialog_boxSociete}">
					<div id="dialog_boxSociete"    >
					     
							 <form th:action="@{/succesSuppressionSociete}" th:object="${Societe}" class="col-md-12 col-xs-12"  method="POST">
		                           <h4> Voulez-vous supprimer la Société de code <b  th:utext="${codeSociete}"></b> </h4>
		                         
						           <div class="row envoiCancel">
						           			 
						           		<input type="hidden" name="idSociete" value=" " />	  
						           		 <input type="hidden" name="estSupprimer" value=" " />	  
						           		<input type="hidden" name="codeSociete"   />
						           		<input type="hidden" name="nomSociete"   />	  
						           			                
						             	 <div class="col-md-6 col-xs-4 ">
						                 	<input type="submit" value="Valider" class="btn btn-primary pullright envoi" />				                  	
						             	 </div>			
						             	              	 
						             	 <div class="col-md-6 col-xs-8 cancel">
						                  	<input class="btn btn-primary pullright cancel" type="button" value="Cancel" onclick="dialog_cancel();">
						             	 </div>   
						             	         
				             	  </div>           
				          </form>	
				          
					</div>
				 </div>
				 
				 
				 <form id="envoiCacheSociete" th:action="@{/resultatModifDonneeSociete}"  th:object="${Societe}"  method="POST" >
			 
			  		
			  		  <input type="hidden" name="idSociete" value=" " />		  		 
			  		  <input type="hidden"  name="codeSociete"  id="identifiantSupprSociete" value=" " />
			  		  <input type="hidden" name="nomSociete"   />  	
			  		  <input type="hidden" name="estSupprimer"  />
			  				  		
			  </form>
			  
			  <form id="envoiCacheModifSociete" th:action="@{/envoiDonneeCacheeSociete}"  th:object="${Societe}"  method="POST" >   	
			  		  <input type="hidden" name="idSociete" value=" " />  		 
			  		  <input type="hidden" id="identifiantModifSociete" name="codeSociete" />  		
			  		  <input type="hidden" name="nomSociete"   />
			  		  <input type="hidden" name="estSupprimer"  />	  					  		
			  </form>
		 
		 
		 		 <script type="text/javascript">
		 		 
				 		function desactiveAfficheFormulaire(){
							var afficheFormulaire=document.getElementById('dialog_boxSociete');
							afficheFormulaire.style.display = 'none' ;	
						}			
						desactiveAfficheFormulaire();
		 		 
				 		function modifier(objet){
			                var identifiant=objet.name;			                
				        	var identifiantIndex=document.getElementById(identifiant);
				        	var objetModif=document.getElementById("identifiantModifSociete");
				        	objetModif.value=identifiant;
				        	document.getElementById('envoiCacheModifSociete').submit();	        		        	
				        }
				        
				        function supprimer(objet){
		                    var identifiant=objet.name;				
				        	var identifiantIndex=document.getElementById(identifiant);
				        	var objetSupprimer=document.getElementById("identifiantSupprSociete");
				        	 objetSupprimer.value=identifiant;				        	
				        	document.getElementById('envoiCacheSociete').submit();	        		        	
			       		 }				 		 
		 		 		
				 		function dialog_open(){					    	
			 		    	//Affiche de la zone de fond translucide pour eviter la selection
			 		    	  //d'objet sur la page d'origine			 		    	  
			 		    	  var dialog_background = document.getElementById ('dialog_backgroundSociete'); 
			 		    	  dialog_background.style.display ="block";
			 		    	  
			 		    	//affichage de la boite de dialogue
			 		    	  var dialog_box = document.getElementById('dialog_boxSociete'); 
			 		    	  dialog_box.style.display ="block";		    	  
			 		    } 
				        
			 		    dialog_open();
			 		    
			 		   function dialog_close(){
				 			  //masque la zone de fond de la boite de dialogue
				 			  dialog_win = document.getElementById('dialog_backgroundSociete'); 
				 			  dialog_win.style.display ="none";
				 			  
				 			  //masque la boite de dialogue
				 			  var dialog_box = document.getElementById('dialog_boxSociete'); 
				 			  dialog_box.style.display ="none";
				 			 
				 			  //remet les scrollbarre de la page 
				 			  document.body.style.overflow='scroll'; 
				 			}
				 		   
				 		  function dialog_cancel(){
				 			  //fermeture de la boite de dialogue et retour à l'état initial
				 			  dialog_close();
				 			}
		 		 
		 		 
		 		 </script>
		 		 <br> <br>
		 
		 </div>

</body>
</html>