<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  >
<head>
<meta charset="utf-8">
<title> Quatre Boutonn Societe </title>
</head>
<body>
<div class="col-lg-6 ajouter troisBouton" th:fragment="quatreBoutonSociete">
             <a href="ajoutSociete" class="btn btn-success" role="button" aria-pressed="true">Ajouter</a>
             <a href="modifierSociete" class="btn btn-success" role="button" aria-pressed="true">Modifier</a>
             <a href="rechercheSociete" class="btn btn-success" role="button" aria-pressed="true">Rechercher</a>
             <a href="supprimerSociete" class="btn btn-success" role="button" aria-pressed="true">Supprimer</a>                                                              
    	</div>

</body>
</html>