<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Trois boutons Agence</title>
</head>
<body>
		
		<div class="col-lg-6 ajouter troisBouton" th:fragment="troisBoutonAgence">
             <a href="ajoutAgence" class="btn btn-success" role="button" aria-pressed="true">Ajouter</a>
             <a href="modifierAgence" class="btn btn-success" role="button" aria-pressed="true">Modifier</a>
             <a href="rechercheAgence" class="btn btn-success" role="button" aria-pressed="true">Rechercher</a>
             <a href="supprimerAgence" class="btn btn-success" role="button" aria-pressed="true">Supprimer</a>                                                              
    	</div>

</body>
</html>