<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title> Modules des utilisateurs</title>
</head>
<body>
 <div class="container">
	<div class="row " th:fragment="modulesUtiilisateur">
	 <div class="row chemin">  </div>
	 
	 
	  
	      <div class="col-lg-12"> Chemin</div>
	      <div class="col-lg-12"> 
	        <div class="row" >   
	             <div class="col-lg-4 listeModule" > <a href="listeModuleUtilisateur" title=" Liste modules des utilisateurs"> Liste des modules </a> </div>
	             <div class="col-lg-4 moduleUtilisateur" >        <h2> Modules utilisateur</h2> </div>
	             <div class="col-lg-4" > </div>          
	        </div>               
	      </div>
	      <div class="col-lg-12">
		          <div class="row">
	          
	             <div class="col-lg-2"></div>
	             <div class="col-lg-8" >
	             
	                <div class="row">
	                  
	                   <div class="col-lg-2">
	                   
	                        
	                   
	                   
	                   </div >
	                   <div class="col-lg-8">
	                 
	                    <div class="row idNomPrenom">
	                    
	                        <table width="100%" border="0" cellspacing="1" cellpadding="2">
			                    <tr class="entete-tableau"><th>   Identifiant</th><th> Nom et prenom </th></tr>
								<tr th:each ="utilisateur : ${utilisateurs}">
			  						<td width="50" > <a th:utext="${utilisateur.identifiant}" ></a></td>
			  						<td width="100" > <a class=" nomPrenom" th:utext="${utilisateur.nomEtPrenom}" > </a></td>		  						
								</tr>				
			  				</table>
	                            
	                    </div>
	                 
	                   
	                   </div>
	                   <div class="col-lg-2">
	                   
	                   
	                   </div>
	                 
	                
	                </div>
	                
					 	 
					 	 
					 	                          	                            
	             </div>
	             
	             <div class="col-lg-2"></div>
	             
	          
	         </div>
	        </div>
	         
	      
	      <div class="col-lg-12"></div>
	 
	  
	                    	
   
   
   
   </div>
 </div>
</body>
</html>