<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title> Formulaire gestion source</title>
</head>
<body>

		<form th:action="@{/resultatAjoutSource}" th:object="${Utilisateur}" class="col-md-12 col-xs-12 formulaireGestionSource" th:fragment="formulaireGestionSource" method="POST">
             <div class="row labelAjout">
                  <h2>Ajouter source de prélèvement</h2>
             </div>
             
             <div class="row">
	             <div class="col-lg-4"></div>
	             <div class="col-lg-4 erreur"  th:if="${formErreurSource}" > 
				  	 <div class="alert alert-danger">
	
	                     <ul>                        
							   <li  th:if="${sourceErreur}" th:utext="${sourceErreur}"> </li>
	                      	   
	                     </ul>
	                     
	                  </div> 
	             </div>
	             <div class="col-lg-4"></div>
             </div>
             
             <input type="hidden" name="id" value=" " />
              
                
             <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Soure de prélèvement : </label>
             	 </div>
             	 
             	 <div class="col-md-8 col-xs-8">             	    
             	    <input type="text" name="source" class="form-control" maxlength="30" autocomplete="off"/>					
             	 </div>  
             	          
             </div> 
             
             <input type="hidden" name="estSupprimer" />
               
             <div class="row ajoutDonnee">
                 <div class="col-md-4 col-xs-4 ft">
                  	<label> Nature : </label>
             	 </div>
             	 <div class="col-md-8 col-xs-8">
                  	<select id="select" class="form-control" name="genrePolice">
						<option>Individual</option>
						<option>Groupe</option>
						
					</select>
             	 </div>           
             </div>
             
            
             
                     
              <div class="row">
                 <div class="col-md-4 col-xs-4">
                  	<label>  </label>
             	 </div>
             	 <div class="col-md-8 col-xs-8">
                  	<input type="submit" value=" Valider " class="btn btn-primary pullright envoi" />
             	 </div>           
             </div>           
          </form>

</body>
</html>