<!DOCTYPE html>


<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Espace administrateur</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css"/>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/espaceAdminStyle.css"/>
	<link rel="stylesheet" type="text/css" href="css/styleCommun.css"/>
</head>
<body>
  
  
     <div class="container">
		<header class="row">		
		  <div class="col-lg-6 col-sm-12 " id="logo"><img class="img_logo" src="images/LOGO-BELIFE.png" alt="logo_belife" /></div>
		  <div class="col-lg-6 col-sm-12 pm"><span> Police Manager de Belife Insurance</span></div>
		</header>
		<div class="row barre">		
		  <div class="col-lg-12 ">    
		    <nav>
		         <ul>
		             <li class="menuInscription"> <a href="#">Incription</a>
		                 <ul class="submenu">
		                    <li><a href="IncriptionUtilisateur">Inscription utilisateur</a> </li>
		                   	<li><a href="IncriptionBanque">Inscription Banque</a> </li>          
		                 </ul>     
		             </li>
		             <li class="menuAffichage"> <a href="#">Affichage</a>
		                 <ul class="submenu">
		                    <li><a href="AffichageUtilisateur">Liste utilisateur</a> </li>
		                   	<li><a href="AffichageBanque">Liste Banque</a> </li>          
		                 </ul>	             
		             </li>
		             <li class="banque"> <a href="#">Gestion Banque</a>
		                 <ul class="submenu">
		                    <li><a href="ListeBanque">Liste Banque</a> </li>
		                   	<li><a href="listePolice">Liste Police</a> </li>          
		                 </ul>	             
		             </li>         
		         </ul>
		    </nav>	  
		  </div>
		 </div>
		 <div class="row"> 
		  <div class="col-lg-12 contenu"> Conteu </div>
		  
		  </div>
		<footer class="row pied"> 
		
		</footer>
	</div>	
</body>
</html>