<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
   
   <div class="row " th:fragment="rechercheUtilisateurResultat">
           
            <div class="col-lg-12 " >          
            <table width="100%" border="0" cellspacing="1" cellpadding="2">
                    <tr class="entete-tableau"><th>id</th><th> Nom et prenom </th><th> Identifiant </th><th> Fonction </th></tr>
					<tr th:each ="utilisateur : ${utilisateurRechercher}">  						
  						<td width="100" th:utext="${utilisateur.idUtilisateur}" ></td>
  						<td width="100" th:utext="${utilisateur.nomEtPrenom}" ></td>
  						<td width="100" th:utext="${utilisateur.identifiant}"></td>
  						<td width="100" th:utext="${utilisateur.fonction}"></td>
					</tr>					
			</table>        
      </div>
           
           
     </div>
   
   
</body>
</html>